.ab-btn{
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    margin-left: 700px;

}

.ab-btn2{
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    margin-left: 730px;
    align-items: center;

}

.ab-btn3{
    background-color: black;
    color: white;
    font-family: Poppins, sans-serif;
    display: flex;
    margin-left: 720px;
    align-items: center;

}

.copyright{
    color: white;
    font-family: "julius sans one", sans-serif;
}


.about{
    background-color: black;
    width: 100vw;
    
}

.about-buttons{
    width: 100vw;
}