

h2 {
    font-size: 50px;
    color: black;
    margin-top: 120px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-right: 100px;
    gap:40px;
    flex-direction: row;
    margin-left: 50px;

}

.image-box {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.submit-button{
    margin-left: 790px;
    margin-top: 100px;
}

.image {
    margin: 0;
}