h3 {
    text-decoration-color: red;
    text-align: center;
    font-size: 30px;
    color: red;
}
/*h2 {*/
/*    text-align: center;*/
/*}*/

p{
    text-align: left;
    margin-left: 30px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}