.homework-page{
    /*height: 5000px;*/
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.top-photo-home{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background-image: url("../images/workout.png");
    background-size: cover;
    background-position: center;
    text-align: center;

}

.sugges{
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: black;
    margin-left: 450px;

}

.home-wor-txt{
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 350px;
    font-size: 112px;

}

.ho-work-but{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 100px;
}

.res{
    width: 900px;
    height: 300px;
    background-color: white;
    background-image: url("../images/ResistanceBand.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;

}

.res:hover{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url("../images/ResistanceBand.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    transform: translateX(10px) translateY(10px);
    transition: all 0.5s ease;
}



.home-eq-dumb{
    width: 900px;
    height: 300px;
    background-color: white;
    background-image: url("../images/gym.png");
    background-position: center;
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    margin-left: 582px;

}

.home-eq-dumb:hover{
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url("../images/gym.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    margin-left: 0;
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    transform: translateX(10px) translateY(10px);
    transition: all 0.5s ease;
}





.fold{
    width: 900px;
    height: 300px;
    background-color: white;
    background-image: url("../images/ExerciseBench.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;

}

.fold-hov-text{
    opacity: 0;
    margin-left: 40px;
    margin-top: 20px;
}
.fold-div{
    display: flex;

}

.fold-div:hover{
    background-color: lightgrey;
    width: 100vw
}

.fold-div:hover .fold {
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url("../images/ExerciseBench.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    transition: all 0.3s ease;
}

.fold-div:hover .fold-hov-text{
    opacity: 1;
}

.all-in-one{
    width: 900px;
    height: 300px;
    background-color: white;
    background-image: url("../images/CompactAll.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 0;*/
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    /*margin-left: 582px;*/

}

.all-in-one-hov-text{

    opacity: 0;
    margin-right: 40px;
    margin-top: 20px;
}

.all-in-one-div{
    display: flex;
    text-align: right;

}

.all-in-one-div:hover{
    background-color: lightgrey;
    width: 100vw;
    display:flex;
    justify-content: flex-end;
}

.all-in-one-div:hover .all-in-one {
    width: 310px;
    height: 300px;
    background-color: white;
    background-image: url("../images/CompactAll.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 0;*/
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    transition: all 0.3s ease;
}

.all-in-one-div:hover .all-in-one-hov-text{
    opacity: 1;
}

.jum-rop{
    width: 900px;
    height: 300px;
    background-color: white;
    background-image: url("../images/jumprope.png");
    background-position: center;
    background-size: 100%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;

}

.jum-rop-hov-text{
    opacity: 0;
    margin-left: 40px;
    margin-top: 20px;
}
.jum-rop-div{
    display: flex;

}

.jum-rop-div:hover{
    background-color: lightgrey;
    width: 100vw
}

.jum-rop-div:hover .jum-rop {
    width: 300px;
    height: 300px;
    background-color: white;
    background-image: url("../images/jumprope.png");
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: white;
    transition: all 0.3s ease;
}

.jum-rop-div:hover .jum-rop-hov-text{
    opacity: 1;
}

