.seto-bag{
    background-color: white;
}

.font-stuff{
    color: black;
    font-family: "julius sans one", sans-serif;
}

.order-his{
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
    color: black;
    font-size: 40px;
    margin-left: 600px;
}